.item-list {
    .pagination {
        display: block;
        position: fixed;
        bottom: 35px;
        left: 0;
        width: 100vw;
        background-color: white;
        z-index: 2;
    }

    .items {
        overflow: auto;
        padding-bottom: 90px;
        padding-top: 40px;
    }
    .gutter {
        z-index: 3;
    }
    .split {
        overflow: hidden;
        height: 100vh;
        .pane:first-child {
            z-index: 3;
        }
    }

    #map {
        height: 100%;
        //min-height: 100px;
        width: 100vw;
    }

    .item-preview {
        margin: 6px 0;
        position: relative;
        box-shadow: 0 0 4px 0 grey;

        &.selected {
            background-color: #e6e2e2;
        }

        .like-wrapper {
            column-gap: 10px;
            position: absolute;
            right: 2px;
            top: 2px;
            display: flex;
        }

        .counter {
            font-size: 20px;
        }

        .badges {
            margin-left: 0;
        }

        .wrapper {
            padding: 0 4px;
        }

        .images {
            padding-top: 35px;
            display: flex;
            align-items: flex-end;
            width: 55%;
            min-width: 55%;

            .swiper__image-wrapper {
                //min-height: 180px;
                position: relative;
                overflow: hidden;
                display: flex;
                align-items: flex-end;
            }

            img {
                width: 100%;
            }
        }

        &__container {
            display: flex;
        }

        .wrapper {
            flex-grow: 1;
        }

        .title, .price {
            font-size: 16px;
        }

        .price {
            font-weight: 700;
        }

        .city {
            font-weight: 500;
        }
    }

    header {
        padding: 2px;
        padding-top: 10px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        top: 0;
        position: absolute;
        width: 100%;
        &.visible {
            top: 0;
            transition: top 0.1s ease-out;
        }

        &.hidden {
            top: -50px;
            transition: top 0.1s ease-out;
        }
    }
}

.data-list {
    padding-bottom: 10px;
    span {
        width: 100%;
    }
    a {
        overflow: hidden;
    }
    .MuiList-root {
        max-height: 50vh;
        overflow-y: auto;
    }
}

.swiper-button-next, .swiper-button-prev {
    &::after {
        transform: scale(0.5);
    }

    transform: translate(10px, 0);
}

.swiper-button-prev {
    transform: translate(-10px, 0);
}

.pswp__bg {
    background: none !important;
}

.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
    bottom: 0;
    color: #ffffff;
    background-color: rgba(204, 204, 204, 0.36);
    font-size: 14px;
}

.pswp__img.pswp__img--placeholder.pswp__img--placeholder--blank {
    background-color: white;
}

.images-viewer {

    .yarl__container, .yarl__thumbnails_container, .yarl__thumbnails_thumbnail {
        background: none !important;
        padding: 0 !important;
    }

    .yarl__navigation_next {
        padding-right: 0 !important;
    }

    .yarl__navigation_prev {
        padding-left: 0 !important;
    }

    .yarl__thumbnails_track {
        width: 100vw;
        flex-wrap: wrap;

        background-color: white;
        z-index: 1;
        display: flex;
        row-gap: 4px;
        column-gap: 4px;
        max-height: 30vh;
        justify-content: center;
        overflow: auto;

        .current {
            outline: 3px red solid;
        }
    }
}


$duration: 0.5s;

#expand {
    //z-index: 3;
    //position: absolute;
    //left: 4px;
    //top: 2px;
}

#expand.pin {
    animation: pin $duration ease-in;
    height: 30px !important;
    aspect-ratio: 1 / 1;
    max-width: 30px;
    position: absolute;
    right: 0;
    top: 2px;
    border-radius: 50% 0 0 50%;

    p {
        opacity: 0;
    }
}

@keyframes pin-child {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes pin {
    0% {
        width: 70%;
        border-radius: 0;
    }
    100% {

        width: 30px;
        height: 30px;
        border-radius: 50% 0 0 50%;
    }
}

$preview-count: 4;

.winbox {
    visibility: hidden;
}

.preview-header {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 65px;
    background-color: rgba(107, 107, 107, 0.73);
    z-index: -1;


}

.preview {
    position: absolute;
    bottom: 0;
    background-color: rgba(107, 107, 107, 0.73);
    z-index: 1;
    width: 100vw;
    padding-bottom: 10px;
    max-height: 30vh;
    overflow: auto;

    .info {
        position: fixed;
        box-shadow: 0 0 2px 0 grey;
        bottom: 10px;
        right: 10px;
        .base-Popup-root {
            background-color: #fff;
            border-radius: 8px;
            padding: 3px;
            width: 300px;
        }
    }

    &-inner {
        padding: 4px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 4px;
        column-gap: 4px;
        justify-content: center;
        align-items: flex-start;
    }
    button {
        height: 30px;
        display: block;
        margin: 0 auto;
    }

    img {
        max-height: 100%;
        max-width: calc((100% - ($preview-count - 1) * 4px) / $preview-count) !important;
    }

    .current {
        outline: 3px red solid;
    }
}
.yarl__carousel {
    img {
        max-height: 80vh !important;
    }
}
.winbox.min {
    bottom: 0 !important;
    top: auto !important;
}


.MuiTablePagination-input {
    margin-right: 0 !important;
}

.MuiTablePagination-spacer {
    display: none !important;
}

.MuiToolbar-root {
    min-height: 30px !important;
    width: 100%;
    justify-content: space-between;
}

.MuiTablePagination-actions {
    margin-left: 0 !important;
    justify-self: flex-end;
}
.MuiTablePagination-displayedRows {
    justify-self: flex-end;
}

.MuiAlert-standardSuccess {
    background-color: rgba(227, 248, 227, 0.94) !important;
}
.MuiAlert-standardError {
    background-color: rgba(253, 237, 237, 0.92) !important;
}
.notistack-SnackbarContainer {
    bottom: 60px !important;
    width: auto !important;
}
.MuiTablePagination-actions {
    button {
        height: 40px !important;
    }
}

:root {
    --toastify-color-success: rgba(7, 188, 12, 0.93) !important;
    --toastify-color-error: rgba(231, 76, 60, 0.9) !important;
}

.Toastify__toast-container {
    bottom: 60px !important;
    max-width: 70% !important;
}

.MuiTablePagination-selectIcon {
    right: 20px !important;
}