
.button-like {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }

    svg {
        width: 30px;
        height: 30px;
        background-color: #fff;
    }

    &.liked svg path {
        fill: red;
    }
}

.dislike {
    width: 30px;

    &:hover {
        cursor: pointer;
    }
}

