.message-suggest {
    padding: 2px;
    margin: 2px;
    background-color:#02D15C;
    color: #fff;
}
.message-suggest:hover {
    cursor: pointer;
}

.messenger {
    button {
        height: 30px !important;
    }
}